<section class="architecture">
  <div class="title container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Авторская "></div>
        <div class="word-wrapper" data-word="архитектура"></div>
      </div>
    </div>
  </div>
  <div class="title mob container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Авторская "></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="архитектура"></div>
      </div>
    </div>
  </div>
  <div class="image container">
    <div class="image-inner">
      <div class="image-wrapper">
        <img
          src="@img/architecture/architecture.jpg"
          alt="architecture"
          data-parallax="right"
        />
      </div>
    </div>
  </div>
  <div class="section-hero container">
    <div class="section-hero-title">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Уже сегодня эксперты называют жилой проект «Бадаевский»
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              памятником современности. Над его созданием работал обладатель
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              архитектурного «Оскара», именитое архитектурное бюро Herzog & de
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">Meuron.</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Уже сегодня эксперты называют жилой проект
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              «Бадаевский» памятником современности. Над его
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              созданием работал обладатель архитектурного
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              «Оскара», именитое архитектурное бюро Herzog & de
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">Meuron.</div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Уже сегодня эксперты</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">называют жилой проект</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">«Бадаевский» памятником</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">современности. Над его</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">созданием работал</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">обладатель</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">архитектурного «Оскара»,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">именитое архитектурное</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">бюро Herzog & de Meuron.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-hero-text">
      <div class="text-item">
        <p>
          Без прикрас «Бадаевский» ‒ уникальный проект Capital Group, который
          объединяет новое жилое пространство, поднятое на изящные тонкие
          35-метровые колонны, и ревитализацию красивейших исторических корпусов
          Бадаевского пивоваренного завода. При этом новый комплекс не закрывает
          городскую панораму, а, наоборот, расширяет и раскрывает ее, делая
          доступной для жителей и гостей Москвы: Кутузовский проспект и
          набережную Тараса Шевченко впервые в истории района Дорогомилово
          свяжет просторный и благоустроенный пешеходный бульвар.
        </p>
      </div>
      <div class="text-item">
        <p>
          По словам главного столичного архитектора Сергея Кузнецова,
          «Бадаевский» ‒ это чудо инженерной и архитектурной мысли, за
          реализацией которого наблюдает профессиональное сообщество всего мира.
          «Строительству предшествовали сложнейшие технические расчеты, и
          наконец мы можем наблюдать, как уже сегодня воплощается в реальность
          главная «фишка» проекта – 35-метровые колонны», ‒ отмечает Кузнецов.
          Всего колонн будет 188, из них 137 вертикальных и 51 наклонная. Каждая
          из них сможет выдержать нагрузку в 3 000 тонн, что на 800 тонн больше
          базовой потребности зданий.
        </p>
      </div>
    </div>
  </div>
  <div class="feature-wrapper container">
    <div class="feature">
      <div class="dash"></div>
      <div class="feature-text">
        <div class="main-text">
          <h4 class="number" data-number="35">35</h4>
          <p>-метровые колонны</p>
        </div>
        <div class="sub-text">главная фишка проета</div>
      </div>
    </div>
  </div>
  <div class="double-image container">
    <div class="double-image-item">
      <div class="image-wrapper">
        <img
          src="@img/architecture/project1.jpg"
          alt="project"
          data-parallax="right"
        />
      </div>
    </div>
    <div class="double-image-item">
      <div class="image-wrapper">
        <img
          src="@img/architecture/project2.jpg"
          alt="project"
          data-parallax="left"
        />
      </div>
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">За реализацией проекта</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">наблюдает</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">профессиональное</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">сообщество всего мира</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">За реализацией проекта</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">наблюдает</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">профессиональное</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">сообщество всего мира</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="double-text container">
    <div class="text-item">
      <p>
        Строящийся жилой комплекс представлен домами-«лентами». Благодаря
        решению с колоннами первый этаж будет расположен на уровне 10-го этажа
        обычного жилого дома. У каждой квартиры панорамное остекление, а на
        крыше запланированы скай-виллы ‒ частные дома на высоте 70 метров над
        землей с собственным участком. И все это в центре столицы с видом на
        Москву-реку, Дом Правительства, Москву-Сити и Кутузовский проспект.
        Подобное решение используется впервые. Со стороны набережной Тараса
        Шевченко визуально будет создано ощущение, что новая застройка «парит»
        перед корпусами бывшего Бадаевского завода. Жители «Бадаевского» получат
        редкую возможность насладиться великой архитектурой не только извне:
        детальная проработка позволила создать новое понимание пространства
        внутри.
      </p>
    </div>
    <div class="text-item">
      <p>
        В исторических зданиях же появится авангардный многофункциональный
        комплекс с ресторанами и кафе, коворкингом, детским досуговым центром и
        спортивным залом, по соседству расположатся банный комплекс и крафтовая
        пивоварня. И все это на берегу Москвы-реки и в окружении настоящего
        русского леса, который будет создан у подножия колонн.
      </p>
    </div>
  </div>
  <div class="feature-wrapper container">
    <div class="feature">
      <div class="dash"></div>
      <div class="feature-text">
        <div class="main-text">
          <h4 class="number" data-number="70">70</h4>
          <p>метров над землей</p>
        </div>
        <div class="sub-text">высота скай-вилл с собственным участком</div>
      </div>
    </div>
  </div>
  @@include('../architecture-swiper/architecture-swiper.component.html', {})
  <div class="banner">
    <div class="banner-inner container">
      <div class="dashes">
        <div class="dash"></div>
        <div class="dash"></div>
      </div>
      <div class="main-text">
        <div class="default-text">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Можно сказать, что у проекта нет единого лица:
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                он для всех и не для всех одновременно
              </div>
            </div>
          </div>
        </div>
        <div class="default-text tab">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Можно сказать, что у проекта нет единого
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">лица: он для всех и не для всех</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">одновременно</div>
            </div>
          </div>
        </div>
        <div class="default-text mob">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">Можно сказать, что у</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">проекта нет единого</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">лица: он для всех и не</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">для всех одновременно</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-text">
        <div class="default-text">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Как искусство: каждый человек понимает его для себя по-своему. 
              </div>
            </div>
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter">
                Например, современные инсталляции стоит рассматривать в привязке
                к
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                окружению и пространству вокруг. Наблюдать, как меняется среда,
                исходя из
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                особенности самого арт-объекта. Также и с ЖК «Бадаевским»: что
                именно он
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                привнесет в большой город? Люди это могут чувствовать
                профессионально или
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">интуитивно. </div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
        <div class="default-text tab">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Как искусство: каждый человек понимает его для себя по-своему. 
              </div>
            </div>
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter">
                Например, современные инсталляции стоит рассматривать в привязке
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                к окружению и пространству вокруг. Наблюдать, как меняется
                среда,
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                исходя из особенности самого арт-объекта. Также и с ЖК
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                Бадаевским»: что именно он привнесет в большой город? Люди это
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                могут чувствовать профессионально или интуитивно. 
              </div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
        <div class="default-text mob">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">Как искусство: каждый человек</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">понимает его для себя по-своему. </div>
            </div>
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter">Например, современные</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">инсталляции стоит рассматривать в</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">привязке к окружению и</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">пространству вокруг. Наблюдать,</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">как меняется среда, исходя из</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">особенности самого арт-объекта.</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Также и с ЖК «Бадаевским»: что</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">именно он привнесет в большой</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">город? Люди это могут чувствовать</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">профессионально или интуитивно. </div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="double-text container">
    <div class="text-item">
      <p>
        Жить в «Бадаевском» ‒ это значит осознавать и в какой-то мере разделять
        новые архитектурные смыслы, которые привносит проект в городскую ткань
        Москвы. Он не следует трендам, а задает их, дополняя представление о
        столице, подчеркивая бережное отношение к наследию и смелые решения
        архитектуры будущего.
      </p>
    </div>
    <div class="text-item">
      <p>
        «Бадаевский», окруженный набережной Тараса Шевченко и Кутузовским
        проспектом, становится одной из ключевых панорам города. Уже сегодня
        можно говорить о том, что он, без сомнения, на годы вперед окажет
        значительное влияние на девелоперские проекты, которые будут появляться
        в будущем в Москве и в мире.
      </p>
    </div>
  </div>
</section>
