<footer class="footer">
  <div class="top">
    <div class="top-inner container">
      <div class="socials-wrapper">
        <div class="socials">
          <a href="#" target="_blank">
            <img src="@img/vk.svg" alt="vk" />
          </a>
          <a href="#" target="_blank">
            <img src="@img/tg.svg" alt="tg" />
          </a>
        </div>
        <a href="#" target="_blank">Поделиться спецпроектом</a>
      </div>
    </div>

    <a href="#" target="_blank" class="capital-group">
      <img src="@img/capital_group-white.svg" alt="capital group" />
    </a>
  </div>
  <div class="bottom">
    <div class="bottom-inner container">
      <div class="info">
        <button class="info-btn">
          <img src="@img/info.svg" alt="info" />
        </button>
        <p>Над проектом работали:</p>
        @@include('../info-tooltip/info-tooltip.component.html', {})
      </div>
      <div class="policy">
        Реклама. АО СЗ БАДАЕВСКИЙ. 16+. Проектная декларация на сайте
        наш.дом.рф.
      </div>
      <div class="contacts">
        <p>По вопросам сотрудничества:</p>
        <a href="mailto:special@vedomosti.ru">special@vedomosti.ru</a>
      </div>
    </div>
  </div>
</footer>
