<footer class="footer">
  <div class="top">
    <div class="top-inner container">
      <div class="socials-wrapper">
        <div class="socials">
          <a href="#" target="_blank">
            <img src="@img/vk.svg" alt="vk" />
          </a>
          <a href="#" target="_blank">
            <img src="@img/tg.svg" alt="tg" />
          </a>
        </div>
        <a href="#" target="_blank">Поделиться спецпроектом</a>
      </div>
    </div>

    <a href="https://capitalgroup.ru/?utm_source=vedomosti_spec&utm_medium=cpt&utm_campaign=apr_may_2024" target="_blank" class="capital-group">
      <img src="@img/capital_group-white.svg" alt="capital group" />
    </a>
  </div>
  <div class="bottom">
    <div class="bottom-inner container">
      <div class="info">
        <button class="info-btn">
          <img src="@img/info.svg" alt="info" />
        </button>
        <p>Над проектом работали:</p>
        @@include('../info-tooltip/info-tooltip.component.html', {})
      </div>
      <div class="policy">
        Реклама. АО СЗ БАДАЕВСКИЙ. 16+. Проектная декларация на сайте    
         <a
          href="https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3-%D0%BD%D0%BE%D0%B2%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B5%D0%BA/%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82/37984?utm_referrer=https%3A%2F%2Fyandex.ru%2Fsearch%2F%3Ftext%3D%25D0%25B1%25D0%25B0%25D0%25B4%25D0%25B0%25D0%25B5%25D0%25B2%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2B%25D0%25BD%25D0%25B0%25D1%2588%2B%25D0%25B4%25D0%25BE%25D0%25BC%2B%25D1%2580%25D1%2584%26clid%3D2372572%26banerid%3D6400000000%26win%3D626%26lr%3D213"
          target="_blank"
        >
           наш.дом.рф.</a
        >
      </div>
      <div class="contacts">
        <p>По вопросам сотрудничества:</p>
        <a href="mailto:special@vedomosti.ru">special@vedomosti.ru</a>
      </div>
    </div>
  </div>
</footer>
