<section class="techno container">
  <div class="title">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Технологический"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="драйвер"></div>
      </div>
    </div>
  </div>
  <div class="title mob">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Технологический"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="драйвер"></div>
      </div>
    </div>
  </div>
  <div class="image">
    <div class="image-inner">
      <div class="image-wrapper">
        <img src="@img/techno/techno.jpg" alt="techno" data-parallax="right" />
      </div>
    </div>
  </div>
  <div class="section-hero">
    <div class="section-hero-title">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Проект «Бадаевский» ‒ как гений инженерной мысли,
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              созданный огромной командой, которая несколько лет тщательно
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              работала над каждой деталью. Еще одна грань его многообразия ‒
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              высокая технологичность. Неповторимая эстетика во многом
              базируется
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">на прорывных идеях и решениях.</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Проект «Бадаевский» ‒ как гений инженерной
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              мысли, созданный огромной командой, которая
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              несколько лет тщательно работала над каждой
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              деталью. Еще одна грань его многообразия ‒ высокая
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              технологичность. Неповторимая эстетика во многом
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              базируется на прорывных идеях и решениях.
            </div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Проект «Бадаевский» ‒ как</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">гений инженерной мысли,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">созданный огромной командой,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">которая несколько лет</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">тщательно работала над</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">каждой деталью. Еще одна</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">грань его многообразия ‒</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">высокая технологичность.</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">Неповторимая эстетика во</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">многом базируется на</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">прорывных идеях и решениях.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-hero-text">
      <div class="text-item">
        <p>
          Так, например, визуализация проекта строительства от его организации
          до последующей эксплуатации объекта в формате 4D наглядно
          демонстрирует использование сложных конструкций и материалов. При
          проектировании объекта были разработаны цифровые двойники ‒ от
          инженерных коммуникаций до опорных колонн. В создании модели
          участвовало более 100 проектировщиков.
        </p>
      </div>
      <div class="text-item">
        <p>
          Интересно, что технологии позволили рассчитать уровень  инсоляции и
          направления ветра на объекте. В информационную модель вносили
          метеорологические данные, а потом производили расчёты, как правильно
          расположить окна и объекты вокруг здания, где сделать площадку для
          игр, какие растения посадить и как проложить пешеходные дорожки в
          парке.
        </p>
      </div>
    </div>
  </div>
  <div class="double-image-reverse">
    <div class="double-image-item">
      <div class="image-wrapper">
        <img src="@img/techno/fact1.jpg" alt="fact" data-parallax="right" />
      </div>
    </div>
    <div class="double-image-item">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Технологии позволили</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">рассчитать уровень</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">инсоляции и направления</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">ветра на объекте</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Технологии позволили</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">рассчитать уровень</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">инсоляции и направления</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">ветра на объекте</div>
          </div>
        </div>
      </div>

      <div class="image-wrapper">
        <img src="@img/techno/fact2.jpg" alt="fact" data-parallax="left" />
      </div>
    </div>
  </div>
  <div class="feature-wrapper container">
    <div class="feature">
      <div class="dash"></div>
      <div class="feature-text">
        <div class="main-text">
          <h4>><span class="number" data-number="100">100</span></h4>
          <p>проектировщиков</p>
        </div>
        <div class="sub-text">
          участвовали в создании 4D визуализации проекта
        </div>
      </div>
    </div>
  </div>
</section>
