<div class="epoch-lines">
  <div class="black-lines">
    <div class="line line-with-text">
      <span class="line-text" data-direction="top">ощути себя</span>
    </div>
    <div class="line line-with-text">
      <span class="line-text" data-direction="bottom">частью</span>
    </div>
    <div class="line"></div>
    <div class="line line-with-text">
      <span class="line-text" data-direction="top">Нового</span>
    </div>
    <div class="line line-with-text">
      <span class="line-text" data-direction="bottom">идентификационного</span>
    </div>
    <div class="line line-with-text">
      <span class="line-text" data-direction="top">кода</span>
    </div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
