.alert-lines {
  height: 484px;
  margin-top: 100px;
  overflow: hidden;
  background-image: url("../img/epochs/alert-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .black-lines {
    height: 100%;
    position: relative;
    .line {
      width: 40px;
      background: var(--black-color);
      height: 800px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      &:nth-child(1) {
        left: 5%;
        span {
          left: -77px;
          width: 196px;
          bottom: -180px;
        }
      }
      &:nth-child(2) {
        left: 12%;
        transform: rotate(5deg);
        span {
          width: 130px;
          left: -45px;
          top: -200px;
        }
      }
      &:nth-child(3) {
        left: 19%;
      }
      &:nth-child(4) {
        left: 26%;

        transform: rotate(-8deg);

        span {
          left: -45px;
          width: 130px;
          bottom: -240px;
        }
      }
      &:nth-child(5) {
        left: 34%;

        span {
          left: -147px;

          width: 333px;
          top: -80px;
        }
      }
      &:nth-child(6) {
        left: 45%;
      }
      &:nth-child(7) {
        left: 54%;
        transform: rotate(-8deg);
      }
      &:nth-child(8) {
        left: 57%;
      }
      &:nth-child(9) {
        left: 63%;
        transform: rotate(8deg);
      }
      &:nth-child(10) {
        left: 93%;
      }
      span {
        color: var(--red-color);
        transform: rotate(-90deg);
        display: block;
        font-weight: 65;
        font-size: 50px;
        height: 42px;

        line-height: 50px;
        font-family: "TT Trailers", sans-serif;
        letter-spacing: 5px;
        white-space: nowrap;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        // height: fit-content;
        // width: fit-content;
        padding: 0 15px;
        background: var(--white-color);
        text-transform: uppercase;
      }
    }
  }
}
