<section class="epochs">
  <div class="title container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Эпохи"></div>
        <div class="word-wrapper" data-word="“Бадаевского”"></div>
      </div>
    </div>
  </div>
  <div class="title mob container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Эпохи"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="“Бадаевского”"></div>
      </div>
    </div>
  </div>
  <div class="image container">
    <div class="image-inner">
      <div class="image-wrapper">
        <img src="@img/epochs/epochs.jpg" alt="epochs" data-parallax="left" />
      </div>
    </div>
  </div>
  <div class="section-hero container">
    <div class="section-hero-title">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Бадаевский (Трехгорный) пивоваренный завод
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              был основан в 1875 году, то есть почти 150 лет назад.
            </div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Бадаевский (Трехгорный) пивоваренный завод
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              был основан в 1875 году, то есть почти 150 лет назад.
            </div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Бадаевский</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">(Трехгорный) пивоваренный</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">завод был основан в 1875 году,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">то есть почти 150 лет назад.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-hero-text">
      <div class="text-item">
        <p>
          Бадаевский (Трехгорный) пивоваренный завод был основан в 1875 году, то
          есть почти 150 лет назад. В свое время здесь варили пиво, отвечавшее
          лучшим европейским стандартам, завод занимал первое место среди
          русских и иностранных предприятий по сбыту пива в бутылках.
        </p>
      </div>
      <div class="text-item">
        <p>
          Над архитектурной концепцией Бадаевского завода, работал Август Вебер,
          известный множеством доходных домов в Москве и участием в работе над
          зданием Политехнического музея. Позднее над архитектурой Бадаевского
          трудился еще один известный московский зодчий – Роман Клейн, автор
          здания ЦУМа и Пушкинского музея. Тогда на предприятии появились
          элеваторы и водонапорная башня. За практически полутора вековую
          историю завод пережил не одно потрясение, вплоть до 2006 года здесь
          производили пиво высокого качества.
        </p>
      </div>
    </div>
  </div>
  <div class="double-image-reverse container">
    <div class="double-image-item">
      <div class="image-wrapper">
        <img src="@img/epochs/fact1.jpg" alt="fact" data-parallax="right" />
      </div>
    </div>
    <div class="double-image-item">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Для покупателя очень важен</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">факт того, что они живут в</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">знаковом доме</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Для покупателя очень</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">важен факт того, что</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">они живут в знаковом</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">доме</div>
          </div>
        </div>
      </div>

      <div class="image-wrapper">
        <img src="@img/epochs/fact2.jpg" alt="fact" data-parallax="left" />
      </div>
    </div>
  </div>
  @@include('../epoch-lines/epoch-lines.component.html', {})

  <div class="double-text container">
    <div class="text-item">
      <p>
        В 2019 году для «Бадаевского» началась новая эпоха – эпоха возрождения.
        За переосмысление территории и разработку грандиозного проекта взялась
        команда девелопера Capital Group и швейцарских архитекторов «Херцог и де
        Мёрон» (полное название Herzog & de Meuron Architekten). Девелоперу
        удалось не только сохранить историческое наследие памятника
        индустриальной архитектуры, но и наполнить его новыми смыслами. Кстати,
        исторические строения завода впервые за всю свою историю будут
        отреставрированы. Еще одно здание девелопер воссоздаст по собственной
        инициативе на основе исторических чертежей для сохранения полного
        ансамбля Бадаевского завода.
      </p>
    </div>
    <div class="text-item">
      <p>
        Такое сочетание – неповторимый для города формат. Он привлекает сюда
        тех, кто предпочитает для жизни знаковые места в центре Москвы, но при
        этом выбирает современную архитектуру жилого комплекса, которая будет
        актуальна еще многие десятилетия.
      </p>
    </div>
  </div>
</section>
