<div class="life-lines">
  <div class="black-lines">
    <div class="line"></div>

    <div class="line line-with-text">
      <span class="line-text" data-direction="top">Бадаевский</span>
    </div>
    <div class="line line-with-text">
      <span class="line-text" data-direction="bottom">Создает</span>
    </div>
    <div class="line"></div>
    <div class="line line-with-text">
      <span class="line-text" data-direction="top">Собственное</span>
    </div>
    <div class="line line-with-text">
      <span class="line-text" data-direction="bottom">Наследие</span>
    </div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
