<header class="header container">
  <div class="logo-wrapper">
    <a href="#" class="logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="dash"></div>
    <div class="statements-wrapper">
      <a href="#">
        <img src="@img/vedomosti_logo.svg" alt="statements" />
      </a>
      <div class="header-alert-pg">
        <p>Специальный проект</p>
        <img src="@img/pg.svg" alt="pg" />
      </div>
    </div>
  </div>
  <div class="capital-group">
    <a href="#" target="_blank">
      <img src="@img/capital_group.svg" alt="capital group" />
    </a>
  </div>
</header>
