<section class="forest container">
  <div class="title">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Русский"></div>
        <div class="word-wrapper" data-word="лес"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="в"></div>
        <div class="word-wrapper" data-word="центре"></div>
        <div class="word-wrapper" data-word="столицы"></div>
      </div>
    </div>
  </div>
  <div class="title mob">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Русский"></div>
        <div class="word-wrapper" data-word="лес"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="в"></div>
        <div class="word-wrapper" data-word="центре"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="столицы"></div>
      </div>
    </div>
  </div>
  <div class="image">
    <div class="image-inner">
      <div class="image-wrapper">
        <img src="@img/forest/forest.jpg" alt="forest" data-parallax="right" />
      </div>
    </div>
  </div>
  <div class="section-hero">
    <div class="section-hero-title">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Природное окружение ‒ одно из требований,
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              которые сегодня предъявляются жилым объектам. Но возможно ли
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              сочетать близость к воде и обильное озеленение с центральной
              городской
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">локацией?</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              которые сегодня предъявляются жилым объектам. Но
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              возможно ли сочетать близость к воде и обильное
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              озеленение с центральной городской локацией?
            </div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Природное окружение ‒ одно из</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">требований, которые сегодня</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">предъявляются жилым</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">объектам. Но возможно ли</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">сочетать близость к воде и</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">обильное озеленение с</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">центральной городской</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">локацией?</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-hero-text">
      <div class="text-item">
        <p>
          Комплекс «Бадаевский» создан и для деловой, динамичной жизни, и для
          неспешных прогулок, деловых и дружеских встреч в тени деревьев или на
          залитой солнцем лужайке. Здесь можно наслаждаться пением птиц и
          созерцать реку. Комбинированное озеленение и близость воды сделают
          температуру в жаркие дни более комфортной, а работа с рельефом снизит
          влияние холодных ветров.
        </p>
      </div>
      <div class="text-item">
        <p>
          Над проектом озеленения здесь работали не только известные ландшафтные
          дизайнеры, а целая команда, включая экологов и инженеров. Передовые
          решения позволили озеленить и те места, что изначально были для этого
          не приспособлены. В результате в каждой из парковых зон своя особенная
          система уровней и особый состав почвы, это создает для разных растений
          необходимые именно для них условия.
        </p>
      </div>
    </div>
  </div>
  <div class="double-image">
    <div class="double-image-item">
      <div class="image-wrapper">
        <img src="@img/forest/park1.jpg" alt="project" data-parallax="right" />
      </div>
    </div>
    <div class="double-image-item">
      <div class="image-wrapper">
        <img src="@img/forest/park2.jpg" alt="project" data-parallax="left" />
      </div>

      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">«Бадаевский» подходит и для</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">деловой, динамичной жизни,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">и для неспешных прогулок в</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">тени деревьев</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">«Бадаевский» подходит и</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">для деловой,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">динамичной жизни, и</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">для неспешных</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">прогулок в тени деревьев</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="double-text">
    <div class="text-item">
      <p>
        Вдоль набережной тянется длинный речной променад по историческому
        бульвару, откуда открываются виды на парк «Красная Пресня» и деловой
        центр «Москва-Сити». Внутренняя территория разделена на функциональные
        части: передний двор, площадь и переулки, соединяющие корпуса с террасой
        и парком. Всё это пронизывает бульвар, призывая фланировать вдоль
        исторических зданий и с легкостью пользоваться любыми объектами
        инфраструктуры.
      </p>
    </div>
    <div class="text-item">
      <p>
        Сама идея проекта тесно связана с воздухом и природой. Концепция
        отсылает к образам деревьев, на кронах которых будут размещены виллы:
        «Идея совместить исторические здания с современной архитектурой,
        огромные панорамные балконы – с садами на крышах, тонкие опоры домов –
        со стволами деревьев раскрывает новый подход к организации открытого и
        при этом уединенного пространства в самом центре столицы», – отмечает
        Пьер де Мерон, сооснователь швейцарского архитектурного Herzog & de
        Meuron.
      </p>
    </div>
  </div>
  <div class="park-image">
    <div class="image-wrapper">
      <img src="@img/forest/parkimg.jpg" alt="park" data-parallax="left" />
    </div>
  </div>
</section>
