<section class="life">
  <div class="title container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="За"></div>
        <div class="word-wrapper" data-word="одну"></div>
        <div class="word-wrapper" data-word="жизнь"></div>
        <div class="word-wrapper" data-word="–"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="прожить"></div>
        <div class="word-wrapper" data-word="дважды"></div>
      </div>
    </div>
  </div>
  <div class="title mob container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="За"></div>
        <div class="word-wrapper" data-word="одну"></div>
        <div class="word-wrapper" data-word="жизнь"></div>
        <div class="word-wrapper" data-word="–"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="прожить"></div>
        <div class="word-wrapper" data-word="дважды"></div>
      </div>
    </div>
  </div>
  <div class="image container">
    <div class="image-inner">
      <div class="image-wrapper">
        <img src="@img/life/life.jpg" alt="life" data-parallax="left" />
      </div>
    </div>
  </div>
  <div class="section-hero container">
    <div class="section-hero-title">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Квартира в «Бадаевском» - не просто элитное жилье на Кутузовском
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              проспекте. Это самоощущение причастности к действительно знаковому
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              проекту: развитая инфраструктура, первая линия Москвы-реки, 
              близость к
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              центру,  роскошные виды, масштабный парк прямо под ногами и,
              конечно,
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">окружение со схожими взглядами.</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Квартира в «Бадаевском» - не просто элитное
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              жилье на Кутузовском проспекте. Это самоощущение
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              причастности к действительно знаковому проекту:
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              развитая инфраструктура, первая линия Москвы-реки,
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              близость к центру,  роскошные виды, масштабный парк
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              прямо под ногами и, конечно, окружение со схожими
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">взглядами.</div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Квартира в «Бадаевском» - не</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">просто элитное жилье на</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">Кутузовском проспекте. Это</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">самоощущение причастности к</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">действительно знаковому</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">проекту: развитая</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">инфраструктура, первая линия</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">Москвы-реки,  близость к</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">центру,  роскошные виды,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">масштабный парк прямо под</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">ногами и, конечно, окружение</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">со схожими взглядами.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="banner-inner container">
      <div class="dashes">
        <div class="dash"></div>
        <div class="dash"></div>
      </div>
      <div class="main-text">
        <div class="default-text">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Мы понимаем, что многие люди довольно
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">сильно привязаны к своим районам</div>
            </div>
          </div>
        </div>
        <div class="default-text tab">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Мы понимаем, что многие люди довольно
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">сильно привязаны к своим районам</div>
            </div>
          </div>
        </div>
        <div class="default-text mob">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">Мы понимаем, что</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">многие люди довольно</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">сильно привязаны к</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">своим районам</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-text">
        <div class="default-text">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Возможно, они живут там не один десяток лет. Такие клиенты
                оценивают не
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                столько проект, а среду со знакомой инфраструктурой. Им бывает
                сложно
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                решиться на переезд, так как это ведет в том числе к изменению
                привычного
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">уклада жизни.</div>
            </div>
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter">
                Однако очевидно, что многие даже некогда престижные районы со
                временем
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                устаревают: дома ветшают, не развивается инфраструктура. По
                сути, переезд
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                не обратим, и это просто вопрос времени, если внутри есть то
                самое желание.
              </div>
            </div>

            <div class="word-wrapper">
              <div class="word-letter">
                В «Бадаевском» вместе с новым районом можно получить и новый
                виток
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">жизни, «прожить» еще одну жизнь.</div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
        <div class="default-text tab">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                Возможно, они живут там не один десяток лет. Такие клиенты
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                оценивают не столько проект, а среду со знакомой
                инфраструктурой.
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                Им бывает сложно решиться на переезд, так как это ведет в том
                числе
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                к изменению привычного уклада жизни.
              </div>
            </div>
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter">
                Однако очевидно, что многие даже некогда престижные районы со
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                временем устаревают: дома ветшают, не развивается
                инфраструктура.
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                По сути, переезд не обратим, и это просто вопрос времени, если
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                внутри есть то самое желание. В «Бадаевском» вместе с новым
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                районом можно получить и новый виток жизни, «прожить» еще одну
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">жизнь.</div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
        <div class="default-text mob">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">Как искусство: каждый человек</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">понимает его для себя по-своему. </div>
            </div>
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter">Возможно, они живут там не один</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">десяток лет. Такие клиенты</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">оценивают не столько проект, а</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">среду со знакомой</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">инфраструктурой. Им бывает</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">сложно решиться на переезд, так</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">как это ведет в том числе к</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">изменению привычного уклада</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">жизни.</div>
            </div>
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter">Однако очевидно, что многие даже</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">некогда престижные районы со</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">временем устаревают: дома</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">ветшают, не развивается</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">инфраструктура. По сути, переезд</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">не обратим, и это просто вопрос</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">времени, если внутри есть то самое</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">желание. В «Бадаевском» вместе с</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">новым районом можно получить и</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">новый виток жизни, «прожить» еще</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">одну жизнь.</div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  @@include('../life-swiper/life-swiper.component.html', {})
  <div class="double-text container">
    <div class="text-item">
      <p>
        «Бадаевский» не только сохраняет наследие, но и создает свое
        собственное. Это опережающий время проект, который войдет в историю, он
        всегда будет интересен и не устареет, как веками не устаревает великое.
        Еще долгие годы комплекс «Бадаевский» будет удивлять смелостью и
        красотой архитектурных решений, задавать планку вновь строящимся
        объектам. Зачастую квартиры здесь выбирают интуитивно: для жизни в
        полной мере, для инвестиций в будущее детей.
      </p>
    </div>
    <div class="text-item">
      <p>
        Возрождение «Бадаевского» ‒ это не только про редевелопмент исторических
        объектов, это путь расцвета всего района и его инфраструктуры. По сути,
        здесь можно начать новую жизнь в привычном статусе, попробовать
        расположение и инфраструктуру другого района, его экологию, прогулочную
        зону и, возможно, открыть для себя интересные виды деятельности
      </p>
    </div>
  </div>
  @@include('../life-lines/life-lines.component.html', {})

  <div class="banner">
    <div class="banner-inner container">
      <div class="dashes">
        <div class="dash"></div>
        <div class="dash"></div>
      </div>
      <div class="main-text">
        <div class="default-text">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                «Бадаевский» ‒ проект, который для всех
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                И в то же время не для всех.
              </div>
            </div>
          </div>
        </div>
        <div class="default-text tab">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">«Бадаевский» ‒ проект,</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">который для всех</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">И в то же время </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">не для всех.</div>
            </div>
          </div>
        </div>
        <div class="default-text mob">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">«Бадаевский» ‒ проект,</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">который для всех</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">И в то же время </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">не для всех.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-text">
        <div class="default-text">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
              В среднем наш клиент располагает в
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                собственности около 8 квартир. Покупая новое жилье, он так или
                иначе уже
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                соприкасался с дизайном и архитектурой, в какой-то мере его
                можно назвать
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                экспертом, у него присутствует определенная насмотренность.
                Такие люди не
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                рискуют собственным вкусом и деньгами, скорее всего, они не
                будут покупать
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">то, что не чувствуют. </div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
        <div class="default-text tab">
          <div class="words-line">
            <div class="word-wrapper">
              <div class="word-letter">
                 В среднем наш клиент располагает в
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                собственности около 8 квартир. Покупая новое жилье, он так или
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                его можно назвать экспертом, у него присутствует определенная
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                насмотренность. Такие люди не рискуют собственным вкусом и
              </div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">
                деньгами, скорее всего, они не будут покупать то, что не
                чувствуют. 
              </div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
        <div class="default-text mob">
          <div class="words-line">
       
            <div class="word-wrapper">
              <div class="word-letter">среднем наш клиент</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">располагает в собственности</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">около 8 квартир. Покупая новое</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">жилье, он так или иначе уже</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">соприкасался с дизайном и</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">архитектурой, в какой-то мере</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">его можно назвать экспертом, у</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">него присутствует</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">определенная насмотренность.</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Такие люди не рискуют</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">собственным вкусом и</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">деньгами, скорее всего, они не</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">будут покупать то, что не</div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">чувствуют. </div>
            </div>
            <br />
            <br />
            <br />
            <div class="word-wrapper">
              <div class="word-letter"><b>Оксана Дивеева</b></div>
            </div>
            <div class="word-wrapper">
              <div class="word-letter">Директор по продажам Capital Group</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
