<div class="life-swiper-wrapper container">
  <div class="life-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper1.jpg" alt="img" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper2.jpg" alt="img" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper3.jpg" alt="img" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper4.jpg" alt="img" />
        </div>
      </div>
    </div>
    <div class="navigation">
      <button class="life-prev">
        <img src="@img/arrow-right.svg" alt="arrow" />
      </button>
      <button class="life-next">
        <img src="@img/arrow-left.svg" alt="arrow" />
      </button>
    </div>
  </div>
  <div class="life-swiper-tab">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper1.jpg" alt="img" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper2.jpg" alt="img" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper3.jpg" alt="img" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-wrapper">
          <img src="@img/life/swiper4.jpg" alt="img" />
        </div>
      </div>
    </div>
  </div>
</div>
