<section class="ambassador">
  <div class="title container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="«Бадаевский»"></div>
        <div class="word-wrapper" data-word="‒"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="сам"></div>
        <div class="word-wrapper" data-word="себе"></div>
        <div class="word-wrapper" data-word="амбассадор"></div>
      </div>
    </div>
  </div>
  <div class="title mob container">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="«Бадаевский»"></div>
        <div class="word-wrapper" data-word="‒"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="сам"></div>
        <div class="word-wrapper" data-word="себе"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="амбассадор"></div>
      </div>
    </div>
  </div>
  <div class="image container">
    <div class="image-inner">
      <div class="image-wrapper">
        <img
          src="@img/ambassador/ambassador.jpg"
          alt="ambassador"
          data-parallax="left"
        />
      </div>
    </div>
  </div>
  <div class="section-hero container">
    <div class="section-hero-title">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Многие годы архитектурной доминантой Москвы
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              были «сталинские высотки», именно они считались передовым и
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">наиболее престижным жильем.</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Многие годы архитектурной доминантой Москвы
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              были «сталинские высотки», именно они считались
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              передовым и наиболее престижным жильем.
            </div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Многие годы архитектурной</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">доминантой Москвы были</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">«сталинские высотки», именно</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">они считались передовым и</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">наиболее престижным жильем.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-hero-text">
      <div class="text-item">
        <p>
          Ученые, промышленники, деятели искусства сформировали настоящую
          экосистему вокруг этих домов. Жители получали не только квадратные
          метры и просторные парадные, но и окружение. Однако просто купить
          квартиру там было невозможно, ее нужно было заслужить. 
        </p>
      </div>
      <div class="text-item">
        <p>
          По словам главного архитектора Кузнецова, у Москвы нет задачи создать
          иллюзию, будто бы застройка исторических улиц сложилась в одно и то же
          время. Город как раз и интересен соседством эпох и стилей.
          Разнообразие архитектурных решений, широкий выбор строительных
          материалов позволяют современным городам уходить от типовой застройки
          в сторону эксклюзивных проектов. «Бадаевский» ‒ ярчайшее пятно в этом
          лоскутном одеяле: ультраавангардное решение, опережающее время,
          навсегда изменит облик столицы и границы возможного в архитектуре.
        </p>
      </div>
    </div>
  </div>
  <div class="ambassador-images container">
    <div class="image-wrapper">
      <img src="@img/ambassador/image1.jpg" alt="ambassador" />
    </div>
    <div class="image-wrapper">
      <img src="@img/ambassador/image2.jpg" alt="ambassador" />
    </div>
    <div class="image-wrapper">
      <img src="@img/ambassador/image3.jpg" alt="ambassador" />
    </div>
  </div>
  <div class="ambassador-alert">
    <div class="ambassador-alert-content">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              В «Бадаевском» люди сами себя награждают
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">пониманием причастности к истории</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">В «Бадаевском» люди сами себя</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">награждают пониманием причастности к</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">истории</div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">В «Бадаевском» люди</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">сами себя награждают</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">пониманием причастности</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">к истории</div>
          </div>
        </div>
      </div>
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Это проект не для всех: его выбирают сердцем и душой, при этом
              четко
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              осознавая ценности этого выбора. Владельцами квартир здесь
              становятся без
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              сомнения в правильности своего выбора.
            </div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Это проект не для всех: его выбирают сердцем и душой, при этом
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              четко осознавая ценности этого выбора. Владельцами квартир здесь
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              становятся без сомнения в правильности своего выбора.
            </div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Это проект не для всех: его выбирают</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">сердцем и душой, при этом четко</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">осознавая ценности этого выбора.</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              Владельцами квартир здесь становятся без
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              сомнения в правильности своего выбора.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
