@font-face {
  font-family: "TT Trailers";
  src: url("../fonts/TT-Trailers-Variable.woff2") format("woff2"),
    url("../fonts/TT-Trailers-Variable.woff") format("woff");
  font-weight: 65;
  font-display: swap;
}
@font-face {
  font-family: "TT Trailers";
  src: url("../fonts/TT-Trailers-Bold.woff2") format("woff2"),
    url("../fonts/TT-Trailers-Bold.woff") format("woff");
  font-weight: 110;
  font-display: swap;
}
@font-face {
  font-family: "ITC-Officina";
  src: url("../fonts/ITC-Officina-Book.woff2") format("woff2"),
    url("../fonts/ITC-Officina-Book.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "ITC-Officina";
  src: url("../fonts/ITC-Officina-Sans_Book.woff2") format("woff2"),
    url("../fonts/ITC-Officina-Sans_Book.woff") format("woff");
  font-weight: 65;
  font-display: swap;
}
