<section class="hero container">
  <div class="title">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Архитектурное"></div>
        <div class="word-wrapper" data-word="чудо"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="света"></div>
        <div class="word-wrapper" data-word="в"></div>
        <div class="word-wrapper" data-word="Москве"></div>
      </div>
    </div>
  </div>
  <div class="title mob">
    <div class="title-text">
      <div class="words-line">
        <div class="word-wrapper" data-word="Архитектурное"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="чудо"></div>
        <div class="word-wrapper" data-word="света"></div>
        <div class="word-wrapper" data-word="в"></div>
      </div>
      <div class="words-line">
        <div class="word-wrapper" data-word="Москве"></div>
      </div>
    </div>
  </div>
  <div class="hero-slider">
    <div class="before">
      <div class="image-wrapper">
        <img src="@img/hero/slide1.jpg" alt="hero" />
      </div>
    </div>
    <div class="after">
      <div class="image-wrapper">
        <img src="@img/hero/slide2.jpg" alt="hero" />
      </div>
    </div>
    <div class="change">
      <div class="change-slide"></div>
    </div>
  </div>
  <div class="hero-about">
    <div class="hero-about-content">
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">«Бадаевский» ‒ проект, который</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">определенно войдет в историю Москвы</div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">«Бадаевский» ‒ проект, который</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">определенно войдет в историю Москвы</div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">«Бадаевский» ‒ проект,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">который определенно</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">войдет в историю Москвы</div>
          </div>
        </div>
      </div>
      <div class="default-text">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Настоящее чудо инженерной мысли, парящее на тридцатипятиметровых
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              колоннах, поистине станет событием для города и мировой
              архитектуры.
            </div>
          </div>

          <div class="word-wrapper">
            <div class="word-letter">
              Однако, в отличие от чудес света, за которыми можно лишь наблюдать
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              со стороны, ЖК «Бадаевским» можно наслаждаться, гуляя в тени
              деревьев и
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              даже проживая счастливую жизнь в его стенах.
            </div>
          </div>
        </div>
      </div>
      <div class="default-text tab">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">
              Настоящее чудо инженерной мысли, парящее на
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              тридцатипятиметровых колоннах, поистине станет событием для
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">города и мировой архитектуры.</div>
          </div>

          <div class="word-wrapper">
            <div class="word-letter">
              Однако, в отличие от чудес света, за которыми
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              можно лишь наблюдать со стороны, ЖК «Бадаевским» можно
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              наслаждаться, гуляя в тени деревьев и даже проживая счастливую
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">жизнь в его стенах.</div>
          </div>
        </div>
      </div>
      <div class="default-text mob">
        <div class="words-line">
          <div class="word-wrapper">
            <div class="word-letter">Настоящее чудо инженерной мысли,</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">парящее на тридцатипятиметровых</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">
              колоннах, поистине станет событием для
            </div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">города и мировой архитектуры.</div>
          </div>

          <div class="word-wrapper">
            <div class="word-letter">Однако, в отличие от чудес света, за</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">которыми можно лишь наблюдать со</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">стороны, ЖК «Бадаевским» можно</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">наслаждаться, гуляя в тени деревьев и</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">даже проживая счастливую жизнь в его</div>
          </div>
          <div class="word-wrapper">
            <div class="word-letter">стенах.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
